/* Style for the form container */
.formContainer {
    display: flex; /* 设置flex布局 */
    flex-direction: column; /* 主轴方向为垂直方向 */
    justify-content: center; /* 子元素在主轴方向上居中对齐 */
    align-items: center; /* 子元素在交叉轴方向上居中对齐 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f1efe5;
    max-width: 670px;
}

.box-container {
    display: flex; /* 设置flex布局 */
}

/* Style for the form groups */
.form-group {
    margin-bottom: 15px;
}

/* Style for labels */
.labelForm {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

/* Style for input elements */
/* input[type="text"], */
/* input[type="number"], */
input[type="date"],
#startingPrice,
#reservePrice,
#auctionCount,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color-palette-first);
    border-radius: 4px;
    font-size: 16px;
}

.publierInputText {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Style for the file input */
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #f5f5f5;
    border: 1px solid var(--color-palette-first);
    border-radius: 4px;
}

/* Style for the submit button */
button[type="submit"] {
    /* background-color: #007bff; */
    color: #fff;
    /* padding: 10px 20px; */
    border: none;
    /* border-radius: 4px;
    font-size: 16px;
    cursor: pointer; */
}

.blue {
    background-color: #f9a211;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    width: 90%;
}
/* Style for the submit button on hover */
.blue:hover {
    background-color: #2b3858;
}

/* Optional: Style for the form container if you want to center it on the page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* margin-top: 60px; */
    margin-top: 10%;
}

.formContainer--div {
    top: 10;
    width: 50%;
    margin-left: 16px;
    margin-right: 40px;
}
