/*------------------------------------*\
  menu / components
\*------------------------------------*/

.menu {
    background-color: var(--color-secondary);
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    display: flex;
    position: sticky;
    top: 0;
    z-index: 4;
}

.menu__item {
    color: var(--color-primary-second-variation);
    font-family: var(--font-primary);
    font-weight: var(--font-weight-medium);
    position: relative;
    text-transform: uppercase;
}

.menu__item--principal:last-of-type:after {
    content: none;
}

.menu__list--principal {
    display: none;
}

.menu__item--principal {
    padding: 25px 2vw 25px 2vw;
}

.menu__item--footer {
    margin-bottom: 10px;
}

.menu__link:hover {
    color: #fff;
    border-bottom: 2px solid #f9a211;
}

/* SÉPARATEURS menu ------------*/
.menu__sous-menu--mobile li:first-of-type:after {
    content: "";
    background: white;
    position: absolute;
    top: 25%;
    right: 0;
    height: 45%;
    width: 1px;
}

/* .menu__sous-menu--header li:first-of-type:after {
    content: "";
    background: white;
    position: absolute;
    top: 12%;
    right: 0;
    height: 20%;
    width: 1px;
} */

.menu__sous-menu--footer li:first-of-type:after {
    content: "";
    background: white;
    position: absolute;
    top: 25%;
    right: 0;
    height: 45%;
    width: 1px;
}

.menu-secondaire__container li:first-of-type:after {
    content: "";
    background: white;
    position: absolute;
    top: 37%;
    right: 0;
    height: 23%;
    width: 1px;
}

/* SOUS MENU connexion/inscripition ------------*/
.menu__sous-menu li {
    padding: 10px;
}

.menu__sous-menu li a {
    color: var(--color-palette-first);
    font-size: var(--font-size-default);
}

.menu__sous-menu li a:hover {
    color: var(--color-primary-second-variation);
}

/* .menu__sous-menu--header {
    flex-grow: 2;
    justify-content: right;
    margin-right: 100px;
    margin-top: 55px;
} */

.menu__sous-menu--mobile {
    justify-content: center;
    padding-left: 25px;
    padding-top: 25px;
}

.menu__sous-menu--footer {
    justify-content: center;
    padding-top: 25px;
    padding-bottom: 15px;
}

.menu__sous-menu--footer .menu__item:first-of-type {
    padding-left: 0;
}

/* DROPDOWN menu ------------*/
.menu__dropdown {
    background-color: var(--color-secondary-variation);
    display: none;
    line-height: var(--line-height-medium);
    min-width: 300px;
    position: absolute;
}

.menu__dropdown li {
    width: 100%;
    margin: 20px;
}

nav li:hover .menu__dropdown {
    display: block;
    margin-top: 25px;
}

/* DROPDOWN mobile ------------*/
.menu__list--mobile .menu__dropdown li {
    margin: 0;
    padding-bottom: 15px;
    padding-top: 15px;
}

.menu__list--mobile .menu__dropdown li:last-child {
    border: none;
}

.menu__list--mobile .menu__dropdown {
    align-items: center;
    background-color: var(--font-secondary);
    position: relative;
}

.menu__list--mobile .menu__item:hover .menu__dropdown {
    display: block;
    margin-top: 25px;
}

/* MOBILE menu ------------*/
.menu__mobile {
    background-color: var(--color-secondary);
    bottom: 0;
    color: var(--color-black-secondary);
    min-height: 100vh;
    position: fixed;
    right: 0;
    text-align: center;
    top: 0;
    transition: left 0.3s ease;
    width: 100vw;
    z-index: 5;
}

.menu__mobile--white {
    padding-left: 50px;
    text-align: left;
}

.menu__mobile--white .menu__close--wrapper {
    padding-right: 50px;
}

.menu__mobile--white .search-bar section {
    border-bottom: 1px solid white;
    margin-right: 50px;
}

.menu__mobile--white .search-bar section:first-of-type {
    padding-top: 50px;
}

.menu__mobile--white .search-bar section:last-of-type {
    border-bottom: none;
}

.menu__mobile--white .search-bar img {
    max-width: 15px;
}

.menu__mobile--white .search-bar .btn {
    background-color: var(--color-primary);
}

.menu__mobile--white .search-bar .btn:hover {
    background-color: var(--color-secondary);
}

.menu__mobile--white .search-bar .wrapper--header-mobile {
    padding-bottom: 50px;
}

.menu__mobile--white .search-bar label,
.menu__mobile--white .search-bar h2,
.menu__mobile--white .search-bar h3 {
    color: var(--color-primary-second-variation);
}

.menu__mobile--white section {
    padding-top: 25px;
    padding-bottom: 25px;
}

.menu__logo {
    display: block;
    margin-left: 5vw;
    max-width: 175px;
    padding-bottom: 10px;
    padding-top: 25px;
}

.menu__mobile img {
    margin-top: 25px;
    width: 100px;
}

.menu__list--mobile {
    margin-top: 100px;
}

.menu__list--mobile .menu__item {
    border-bottom: solid 1px white;
    color: var(--color-primary);
}

.menu__list--mobile .menu__link:hover {
    color: var(--color-primary);
}

.menu__close {
    background: linear-gradient(
            transparent,
            transparent 9px,
            white 9px,
            white,
            11px,
            transparent 11px
        ),
        linear-gradient(
            to right,
            transparent,
            transparent 9px,
            white 9px,
            white,
            11px,
            transparent 11px
        );
    cursor: pointer;
    height: 20px;
    transform: rotate(45deg);
    transition: transform 0.3s ease;
    width: 20px;
}

.menu__close--wrapper {
    cursor: pointer;
    height: 70px;
    padding: 25px;
    position: absolute;
    right: calc(6vw - 25px);
    top: 25px;
    width: 70px;
}

.menu__close--wrapper:hover .menu__close {
    transform: rotate(0);
}

.menu--close {
    left: -105vw;
    opacity: 0;
    pointer-events: none;
}

.menu--open {
    left: 0;
    opacity: 1;
    pointer-events: all;
}

.menu--transition {
    left: -105vw;
}

.overflow-y--hidden {
    overflow-y: hidden;
}

/* MENU SECONDAIRE page catalogue enchere */
.menu-secondaire {
    background-color: var(--color-secondary-variation);
    border-bottom: 5px solid var(--color-primary);
    border-top: 10px solid var(--color-palette-third);
    padding-bottom: 25px;
    padding-top: 25px;
}

.menu-secondaire__container {
    display: flex;
}

.menu-secondaire__container li:first-of-type {
    padding-left: 0;
}

.menu-secondaire__select {
    margin-bottom: 15px;
    margin-top: 15px;
    border-radius: 5px;
}

.menu-secondaire__icone {
    display: none;
}

.menu-secondaire__icone div:first-of-type {
    margin-right: 10px;
}

.menu-secondaire__icone div {
    padding: 1rem;
}

.menu-secondaire__icone img {
    max-width: 25px;
    padding-top: 10px;
}

.menu__nav-page {
    background-color: var(--color-secondary-variation);
    display: flex;
    justify-content: center;
}

.menu__nav-page > div {
    padding: 10px;
    border-right: 1px solid white;
    padding-bottom: 10px;
    padding-top: 10px;
}

.menu__nav-page > div:hover {
    background-color: var(--color-palette-first);
}

.menu__nav-page img {
    padding-top: 5px;
    min-width: 10px;
}

.menu__nav-page > div:first-of-type,
.menu__nav-page > div:last-of-type {
    background-color: var(--color-primary);
}

.menu__nav-page > div:first-of-type:hover,
.menu__nav-page > div:last-of-type:hover {
    background-color: var(--color-primary-second-variation);
}

.menu__nav-page > div:last-of-type {
    border: none;
}

.menu__nav-page > div span {
    padding: 0 10px 0 10px;
}

.menu__nav-page--var {
    background-color: transparent;
    padding-top: 25px;
}

@media only screen and (min-width: 768px) {
    .menu__sous-menu--footer {
        justify-content: left;
    }

    .menu__nav-page {
        justify-content: right;
    }

    .menu__nav-page-wrapper {
        padding-right: 8vw;
    }

    .menu-secondaire__icone {
        display: flex;
    }
}

@media only screen and (min-width: 1200px) {
    .menu {
        display: block;
        background-color: var(--color-secondary-variation);
    }

    .menu__logo,
    .menu__mobile {
        display: none;
    }

    .menu__list--principal {
        display: flex;
        padding-left: 100px;
    }

    .menu__item--principal:after {
        content: "";
        background: white;
        position: absolute;
        top: 35%;
        right: 0;
        height: 30%;
        width: 1px;
    }

    .overflow-y--hidden {
        overflow-y: visible;
    }
}

/* 自己加的 */
img,
svg {
    vertical-align: unset;
}
